mlflow==2.18.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
xgboost==2.1.2
optuna==4.0.0
pyarrow==17.0.0
psutil==6.1.0
boto3==1.35.54
psycopg2-binary==2.9.10
joblib==1.4.2
flask==3.0.3
gunicorn==23.0.0
